@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,600italic);

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
ul[class],
ol[class] {
  padding: 0;
}

button {
  border: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  height: 100%;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  height: 100%;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

/* Бэм штучки ......................................................................................................................*/
.yellow-btn {
  width: 260px;
  height: 60px;
  background: #D8B152;
  display: inline-block;
}

.yellow-btn:hover {
  background: #b78812;
  transition: 0.4s;
}

.yellow-btn:active {
  transform: scale(0.95);
  transition: 0.1s;
}

.title {
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
  color: #424242;
}
.margin-top-50{
  margin-top: 50px;
}
/* Бэм штучки ......................................................................................................................*/
/* Мои вспомогалочки ...............................................................................................................*/
.flex {
  display: flex;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-space-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Мои вспомогалочки ................................................................................................................*/
.header {
  background: url(../img/header-bcg.jpg) no-repeat;
  width: 100%;
  height: 800px;
  background-size: 100%;
  background-position: center;
}

.our-services {
  margin: 120px auto;
}

.our-servives__cards {
  width: 100%;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  margin-top: 160px;
}

.our-servives__cards-item {
  background: linear-gradient(0deg, rgba(80, 61, 43, 0.7), rgba(80, 61, 43, 0.7)),
    url(../img/Vacationhome.jpg) no-repeat;
  flex: 0 1 33.333333%;
  height: 360px;
  transition: 1s;
}

.our-servives__cards-item2 {
  background: linear-gradient(0deg, rgba(80, 61, 43, 0.4), rgba(80, 61, 43, 0.4)),
    url(../img/flat.jpg) no-repeat;
  margin: 0 40px;
  transition: 1s;
}

.our-servives__cards-item3 {
  background: linear-gradient(0deg, rgba(80, 61, 43, 0.7), rgba(80, 61, 43, 0.7)),
    url(../img/non-live.jpg) no-repeat;
    transition: 1s;
}

.our-servives__cards-item3 span {
  max-width: 270px;
  text-align: center;
}

.our-servives__cards-item:focus {
  background: url(../img/Vacationhome.jpg)no-repeat;
  transition: 1s;
}
.our-services__title {
  margin-bottom: 60px;
}
.our-servives__cards-item2:focus {
  background: url(../img/flat.jpg)no-repeat;
  transition: 1s;

}

.our-servives__cards-item3:focus {
  background: url(../img/non-live.jpg)no-repeat;
  transition: 1s;
}

.our-servives__cards-item:hover {
  background: url(../img/Vacationhome.jpg)no-repeat;
  transition: 1s;

}

.our-servives__cards-item2:hover {
  background: url(../img/flat.jpg)no-repeat;
  transition: 1s;
}

.our-servives__cards-item3:hover {
  background: url(../img/non-live.jpg)no-repeat;
  transition: 1s;
}

.cards-item__btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
opacity: 0;
}

.our-servives__cards-item:focus .cards-item__btn {
  opacity: 100;
  margin-top: 30px;
  transition: 0.4s;
}

.our-servives__cards-item:hover .cards-item__btn {
  opacity: 100;
  margin-top: 30px;
  transition: 0.9s;
}

.header-header {
  min-height: 111px;
  width: 100%;
}

.menu {
  max-width: 593px;
  width: 100%;
  
}
.menu__item{
  border-bottom: 2px solid transparent;
  color: #ffffff !important;
}
.menu__item:hover {
  border-bottom: 2px solid #b78812;
  transition: 0.3s;
}

h1 {
  max-width: 860px;
  font-weight: 600;
  font-size: 56px;
  line-height: 140%;
}

.header-body__btn {
  margin-top: 20px;
}

.header-body {
  padding-top: 28px;
  width: 100%;
}

.header-body__btn-container {
  max-width: 260px;
  margin-top: 40px;
}

.recording {
  text-align: center;
}

.menu-burger {
  align-items: flex-end;
  width: 60px;
  height: 18px;
  cursor: pointer;
  display: none;
}

.menu-burger__line {
  width: 60px;
  height: 2px;
  background: #D8B152;
  transition: 0.4s;
}

.menu-burger__line2 {
  width: 44px;
}

.gallery {
  margin-top: 120px;
}

.gallery-container {
  width: 100%;
  display: grid;
  grid-template-rows: 282px 282px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 40px;
  margin-top: 60px;
}
.gallery-title{
  margin-bottom: 60px;
}
.gallery__item {
  max-width: 260px;
}

.footer-container {
  flex-wrap: wrap;
}

.gallery__btn {
  margin: 68px auto 140px auto;
}

.footer {
  margin-top: auto;
  background-color: #202020;
  width: 100%;
  min-height: 520px;
  /* margin-top: 140px; */
}

.footer__contacts {
  margin-top: 140px;
  flex-wrap: wrap;
  border-bottom: 1px solid #b78812;
  padding-bottom: 50px;
}

.footer__footer-info {
  height: 210px;
  font-size: 18px;
  line-height: 25px;
}

.footer-info__title {
  font-weight: 600;
}

.contacts {
  height: 105px;
}

.contacts__phone {
  margin-top: 7px;
}

.contacts__phone img {
  margin-right: 10px;
}

.contacts__mail img {
  margin-right: 10px;
}

.social-container {
  width: 260px;
  /* width: 100%; */
  margin-top: 20px;
}

.icons {
  width: 50px;
  height: 50px;
  border: 1px solid #D8B152;
}
.icons a{
  width: 50px;
  height: 50px;
  display: inline-block;
}
.icon {
  background: url(../img/facebook.svg) no-repeat;
  background-position: center;
}

.icon:hover {
  background: url(../img/white_facebook.svg) no-repeat;
  background-color: #b78812;
  background-position: center;
}

.icon1 {
  background: url(../img/youtube.svg) no-repeat;
  background-position: center;
}

.icon1:hover {
  background: url(../img/white_youtube.svg) no-repeat;
  background-color: #b78812;
  background-position: center;
}

.icon2 {
  background: url(../img/pinterest.svg) no-repeat;
  background-position: center;
}

.icon2:hover {
  background: url(../img/white_pinterest.svg) no-repeat;
  background-color: #b78812;
  background-position: center;
}
.icon3 {
  background: url(../img//instagram.svg) no-repeat;
  background-position: center;
}
.icon3:hover {
  background: url(../img/white_instagram.svg) no-repeat;
  background-color: #b78812;
  background-position: center;
}
.footer__logo {
  margin-right: -100px;
  margin-top: -120px;
}

.footer__footer {
  /* margin-top: 250px; */
  width: 100%;
  height: 98px;
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
}

.menu__item-pages {
  color: #424242 !important;
}

.media {
  color: #FFFFFF;
}

.our-servives__cards-item-media1 {
  background: url(../img/prize.jpg);
}

.our-servives__cards-item-media2 {
  background: url(../img/posts.jpg);
}

.our-servives__cards-item-media3 {
  background: url(../img/reviews.jpg);
}

.our-servives__cards-item-media1:hover {
  background: url(../img/prizesHover.jpg);
}

.our-servives__cards-item-media1:focus {
  background: url(../img/prizesHover.jpg);
}

.our-servives__cards-item-media2:hover {
  background: url(../img/postsHover.jpg);
}

.our-servives__cards-item-media2:focus {
  background: url(../img/postsHover.jpg);
}

.our-servives__cards-item-media3:hover {
  background: url(../img/reviewsHover.jpg);
}

.our-servives__cards-item-media3:focus {
  background: url(../img/reviewsHover.jpg);
}

.our-services-media {
  margin-top: 0;
}

.prizes__title {
  margin-bottom: 60px;
}

.prizes__item {
  min-height: 250px;
  border-bottom: 2px solid #b78812;
  padding: 50px 0;
}

.prizes {
  color: #424242;
}

.prizes__item-info {
  height: 250px;
  margin-left: 40px;
}

.prizes-item-info__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
  margin-top: -20px;
}

.prizes-item-info__sub-title {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-top: 16px;
}

.prizes-btn {
  color: #FFFFFF;
}

.build {
  color: #202020 !important;
}

.build-btn {
  border: 2px solid #AEA38B;
  max-width: 160px;
  width: 100%;
  height: 60px;
  transition: 0.4s;
  font-weight: 300;
}

.build-btn:hover {
  background-color: #AEA38B;
  color: #FFFFFF;
  transition: 0.4s;
}

.build-btn-container {
  display: flex;
  max-width: 360px;
  width: 100%;
}

.build-title {
  margin-top: 40px;
}

.build-info {
  width: 100%;
  align-items: flex-end;
  margin-top: 60px;
}

.build-room {
  max-width: 260px;
  max-height: 340px;
}

.build-info__txt {
  height: 440px;
  padding: 0 40px;
}

.numbers__item-title {
  font-size: 36px;
  line-height: 49px;
}

.numbers__item-info {
  font-size: 18px;
  line-height: 140%;
  margin-top: 20px;
}

.numbers {
  color: #424242;
  margin-top: 40px;
}

.numbers__item {
  flex: 33.33333%;
}

.big-info {
  background-color: #AEA38B;
  margin-top: 140px;
  padding: 134px 0;
}

.big-info__txt {
  margin: 0 auto;
  max-width: 930px;
  padding: 0 15px;
  font-style: italic;
  font-size: 28px;
  line-height: 140%;
  text-align: center; 
}
.swiper {
  width: 100%;
}
.reviews{
  color: #202020;
}
.slide2{
}
.prev{
   margin-left: 30%;
  min-width: 40px;
max-height: 40px;
border: 1px solid #D8B152;
border-radius: 50%;
background: url(../img/arrow.svg) no-repeat;
background-position: center;
}
.prev:hover{
 background: url(../img/arrow-hover.svg) no-repeat;
 background-color: #D8B152;
 background-position: center;
 transition: 0.4s;
}
.next{
  margin-right: 30%;
  min-width: 40px;
max-height: 40px;
border: 1px solid #D8B152;
border-radius: 50%;
background: url(../img/arrow-right-hover.svg) no-repeat;
background-position: 12px 12px;
}
.next:hover{
  background: url(../img/arrow-right.svg) no-repeat;
  background-color: #D8B152;
  background-position: 16px 12px;
  transition: 0.4s;
 }
 .form-title{
  margin-top: 140px;
 }
 .form-sub-title{
  font-weight: 400;
font-size: 18px;
line-height: 25px;
margin-top: 20px;
 }
 .reviews-form{
  display: grid;
  grid-template-columns: 9fr 19fr;
  grid-template-rows: 60px 60px 60px;
  grid-template-areas: "name review" "num review" "send review";
  gap: 20px;
  font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #424242;
margin: 60px auto;
 }
 .name{
grid-area: name;
border: 2px solid #AEA38B;
height: 60px;
padding: 0 0 0 30px;
 }
 .number{
grid-area: num;
border: 2px solid #AEA38B;
height: 60px;
padding: 0 0 0 30px;
 }
 .send{
grid-area: send;
width: 100%;
height: 60px;
color: #FFFFFF;
 }
 .review{
grid-area: review;
border: 2px solid #AEA38B;
padding: 18px 0 0 30px;
margin-left: 20px;
 }
 input:focus {
  color: red;
  border: 2px solid #D8B152;
}
.posts-title{
  margin-bottom: 80px;
}
.posts__item-title{
  font-weight: 400;
font-size: 28px;
line-height: 140%;
color: #424242;
}
.posts__item-info{
  font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #424242;
margin-top: 20px;
margin-bottom: 30px;
}
.posts__item-btn{
  position: relative;
  bottom: 0;
}
.posts__item{
  padding: 40px 0 50px 0;
  max-width: 560px;
  border: 1px solid #AEA38B;
  border-left: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.posts__item2{
  border-left: 1px solid #AEA38B ;
  border-right: none;
  padding-left: 40px;
}
.posts__item1{
  border-top: none;
}
.services{
  margin: 10px 0 100px 0;
  flex-wrap: wrap;
  align-items:center ;
}
.services__item {
  height: 429px;
  max-width: 360px;
  width: 100%;
  align-items: center;
  margin-top: 50px;
}
.services__item-info {
  font-weight: 400;
font-size: 18px;
line-height: 140%;
text-align: center;
color: #424242;
}
.services__item-price {
  font-weight: 400;
font-size: 28px;
line-height: 140%;
text-align: center;
color: #424242;
}
.house__item{
  max-width: 360px; 
  width: 100%;
  height: 360px;
  transition: 0.6s;
}
.houses-container{
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.house__item{
  margin-top: 50px;
}
.footer-info__item:hover{
text-decoration:underline;
}
.swiper-reviews{
  margin-top: 60px;
}
 @media(max-width:1100px) {
  .footer__logo {
    margin: 0;
  }
}
@media(max-width:960px) {
  .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .next{
    margin-right: 5%;
  }
  .prev{
    margin-left: 5%;
  }
  .build-info {
    flex-wrap: wrap;
    justify-content: center;
  }

  .build-info__txt {
    padding: 0;
    height: 100%;
  }

  .build-info__txt p {
    padding: 10px 0
  }

  .container {
    max-width: calc(100% - 74px);
  }

  .gallery-container {
    gap: 10px;
    grid-template-rows: 230px;
  }

  h1 {
    font-size: 40px;
  }

  .our-servives__cards {
    flex-direction: column;
    align-items: center;
    /* margin-top: 25px; */
  }

  .our-servives__cards-item2 {
    margin: 0;
  }

  .our-servives__cards-item {
    flex: auto;
    max-width: 360px;
    width: 100%;
  }

  .our-servives__cards-item {
    margin: 15px 0;
  }
}
@media(max-width:799px){
  .services{
    justify-content: center;
  }
}
@media(max-width:768px) {
  .posts__item-title{
    font-size: 18px;
line-height: 140%;
  }
  .posts__item-info{
    font-size: 14px;
line-height: 150%;
  }
  .reviews-form{
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 60px 230px;
    grid-template-areas: "name" "num" "send" "review";
  }
  .review{
    margin-left:0;
  }
  .swiper-slide img{
    width: 300px;
  }
  .numbers{
    flex-wrap: wrap;
  }
  .numbers__item{
    flex: 0 1 50%;
  }
  /* .numbers__item2{
    flex:0 1 100%;
    order: 3;
  } */
  
  .gallery-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .footer__contacts {
    gap: 40px;
    justify-content: center;
  }

  .header-body {
    flex-wrap: wrap;
  }

  .header-body__btn-container {
    max-width: 300px;
    margin-top: 27px;
  }

  .header-body__btn {
    max-width: 300px;
    width: 100%;
    height: 50px;
  }
}

@media(max-width:767px) {
  .menu-burger {
    display: flex;
    transition: 0.4s;
  }

  .prizes__item {
    flex-direction: column;
    height: 432px;
    padding-bottom: 40px;

  }

  .prizes__item-info {
    min-height: 174px;
    margin-left: 0;
    justify-content: space-around;
  }

  .prizes-item-info__sub-title {
    margin-top: 0;
  }

  .prizes__item img {
    flex: 0 1 100%;
  }

  .prizes__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
  }

  .prizes-item-info__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }

  .prizes-item-info__sub-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  .menu {
    position: absolute;
    top: -100%;
    flex-direction: column;
    width: 140px;
    transition: 0.4s;
    right: 0;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    background: #202020;
  }

  .menu__item {
    padding: 20px 0 20px 5px;
  }

  .menu.active {
    top: 0;
    transition: 0.9s;
    display: flex;
    right: 0;
    z-index: 5;
    color: #FFFFFF;
  }

  .menu-burger.active {
    padding-right: 120px;
    transition: 0.4s;
  }

  .menu-burger__line2.active {
    display: none;
    transition: 0.4s;
  }

  .menu-burger__line1.active {
    transform: rotate(55deg);
    transition: 0.4s;
  }

  .menu-burger__line3.active {
    transform: rotate(-55deg);
    transition: 0.4s;
  }
}
@media(max-width:660px){
  .posts-item-container{
    flex-direction: column;
  }
  .posts__item{
    border: 1px solid #b78812;
    border-left: none;
    border-top: 0.5px solid #b78812;
    padding: 20px;
  }
  .posts__item2{
    border-right: none;
    border-left:1px solid #b78812;
  }
  .posts__item-btn{
    width: 100%;
  }
}
@media(max-width:480px) {  
  .footer__footer{
    font-size: 12px;
    flex-direction: column;
    justify-content: space-around;
  }
  .house__item{
    max-width: 300px;
    height: 300px;
  }
  .houses-container{
    justify-content: center;
  }
  .title{
    font-size: 25px;
line-height: 34px;
  }
  .next{
    display: none !important;
  }
  .prev{
    display: none !important;
  }
  .numbers__item{
    flex: 0 1 100%;
    margin: 10px 0;
  }
  .build-title {
    font-size: 25px;
    line-height: 34px;
  }

  .gallery-title {
    font-size: 24px;
    line-height: 33px;
  }

  .our-services__title {
    font-size: 25px;
    line-height: 34px;
  }

  .our-servives__cards-item {
    max-width: 300px;
    max-height: 300px;
  }

  h1 {
    font-size: 24px;
  }

  .gallery-container {
    grid-template-columns: 1fr 1fr;
  }

  .menu-burger.active {
    padding-right: 100px;
  }
}

@media(max-width:385px) {
  .menu-burger.active {
    position: relative;
    left: -30px;
  }
}

@media(max-width:360px) {
  .menu-burger.active {
    left: -70px;
  }

}

@media(max-width:1400px) {
  .header {
    background-size: auto;
  }
}